main {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 35px;
}

label,
.text {
    font-size: 20px;
}

.small {
    font-size: 15px;
}

.text-brown {
    font-size: 20px;
    color: rgb(103, 59, 29);
}

.small-brown {
    font-size: 15px;
    color: rgb(103, 59, 29);
}

.padding-origin {
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron-title {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 7vh;
}

.jumbotron-text {
    font-size: 2vw;
    font-weight: bold;
    color: rgba(116, 90, 73, 0.623);
    margin-top: 2vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.top-title {
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
}

.top-text {
    font-size: 1.5vw;
    color: rgb(112, 76, 53);
    padding: 0 2vw;
    text-align: left;
}

.top-text-center {
    font-size: 1.5vw;
    color: rgba(116, 90, 73, 0.623);
    margin-top: 1vh;
}

.wrapper-origin {
    position: relative;
    padding-bottom: 20px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #cdc5a289;
    color: rgba(116, 90, 73, 0.623);
    font-size: 5px;
    margin-top: 2vh;
}

.footer-text {
    font-size: 12px;
    margin-top: 30px;
    color: rgba(116, 90, 73);
}

.policy-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.policy {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(116, 90, 73);
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bg-origin-body {
    background-color: #cdc5a289;
}

.bg-origin-nav {
    background-color: #beb58a76;
}

.bg-origin-card {
    background-color: transparent;
}

.btn-origin {
    display: inline-block;
    color: #ffffff;
    background-color: #a89c64d8;
    font-family: "Arial";
    font-weight: 500;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 5px 13px;
}

.btn-origin-lg {
    display: inline-block;
    color: #ffffff;
    background-color: #6d590069;
    font-family: "Arial";
    font-weight: 500;
    font-size: 1.5vw;
    border: 1px solid rgba(255, 255, 255, 0.793);
    border-radius: 3rem;
    padding: 1vh 2vw;
    margin-top: 4vh;
    text-align: center;
}

.btn-origin-top {
    display: inline-block;
    background-color: #6d590069;
    color: #ffffff;
    font-family: "Arial";
    font-weight: 500;
    font-size: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.793);
    border-radius: 3rem;
    padding: 1vh 2vw;
    margin: 2vh auto;
}

.btn-origin-return {
    color: #ffffff;
    background-color: #beb380ac;
    font-family: "Arial";
    font-weight: 500;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 5px 13px;
    margin-bottom: 1vh;
    float: right;
}

.btn-origin-search {
    display: inline-block;
    color: #ffffff;
    background-color: #a89c64d8;
    font-family: "Arial";
    font-weight: 500;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 2px 10px;
}

.bg-guest-login {
    background-color: gray;
}

a:link[class="btn-origin-lg"],
a:visited[class="btn-origin-lg"],
a:active[class="btn-origin-lg"] {
    color: white;
    text-decoration: none;
}

a:hover[class="btn-origin-lg"] {
    color: black;
    border: 1px solid transparent;
}

.bg-origin-btn {
    background-color: #a2a7a7c4;
}

.line-origin-color {
    color: rgba(116, 90, 73, 0.623);
}

.image {
    display: flex;
    align-items: center;
    overflow: visible;
    overflow-x: scroll;
    background-color: #cdc5a289;
    padding-left: 10px;
}

.image img {
    width: 20%;
    height: auto;
    margin: 5px 10px;
    transition-duration: 0.5s;
}

.image img:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

.origin-li-top {
    list-style: none;
    border-bottom: 1px solid #a1935669;
    margin-top: 5px;
    font-size: 17px;
}

.origin-li {
    list-style: none;
    border-bottom: 1px solid #a1935669;
    margin-top: 20px;
    font-size: 17px;
}

.card-head-origin {
    color: rgb(79, 79, 80);
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.answer-style {
    margin: 10px 0;
}

input.q_option {
    display: inline-block;
    width: 75%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

input.plural-btn {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 0;
    font-weight: bold;
    color: #847a4c;
}

table.sample th a,
table.sample td a {
    display: block;
}

.inner-left {
    display: inline-block;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    main {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    label {
        font-size: 18px;
    }

    .footer-text {
        font-size: 5px;
        margin-top: 10px;
        color: rgba(116, 90, 73);
    }

    .btn-origin,
    .btn-origin-top,
    .btn-origin-return {
        font-size: 15px;
        padding: 5px 15px;
    }

    .btn-origin-search {
        font-size: 16px;
        padding: 5px 15px;
    }

    .card-head-origin {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    label {
        font-size: 15px;
    }

    .top-text {
        text-align: center;
    }

    .btn-origin,
    .btn-origin-top,
    .btn-origin-return {
        font-size: 15px;
        padding: 5px 15px;
    }

    .btn-origin-search {
        font-size: 15px;
        padding: 5px 15px;
    }

    .btn-origin-lg {
        font-size: 5vw;
        padding: 1vh 5vw;
    }

    .jumbotron-title {
        font-size: 7vw;
    }

    .jumbotron-text {
        font-size: 5vw;
    }

    .card-head-origin {
        font-size: 17px;
    }

    .image img {
        width: 50%;
        height: auto;
        margin: 5px 5px;
        transition-duration: 0.5s;
    }
}
